<html>

	<header>
		<title>MarxPort</title>
	</header>
	<style>
		body {
        background-image: url("stockmarketpicture.jpg");
		}
	</style>
	<body>
		<h1>Company Stock Finder</h1>

		  <form action="main()" method="POST">
				Enter amount of stocks:
		        <input type="text" name="stocks">
						<br/>
				Enter names of companies: <br/>
					<input type="text" name="company">
					<br/>
					<input type="text" name="company">
					<br/>
						<input type="text" name="company">
						<br/>
		        <input type="submit" value="Submit">
		  </form>

	</body>


</html>
